{% if elementType != "Asset" %}<div class="matrixblock">{% endif %}
	<div class="tableview">
		<table class="data fullwidth">
			<thead>
					<th scope="col">{{ "Title"|t }}</th>
					<th scope="col">{{ "Section"|t }}</th>
					<th scope="col">{{ "URI"|t }}</th>
					{% if elementType != "Asset" %}
					<th scope="col">{{ "Post Date"|t }}</th>
					{% endif %}
			</thead>
			<tbody>
				{% if entries|length %}
					{% for entry in entries %}
					<tr>
						<td scope="row">
							<div class="element">
								<div class="label">
									<span class="status {{ entry.status }}"></span><span class="title"><a href="{{ entry.cpEditUrl }}">{{ entry.title }}</a></span>
								</div>
							</div>
						</td>
						<td scope="row">
							{{ entry.section }}
						</td>
						<td scope="row">

							{% if elementType != "Asset" %}
								{% if entry.url %}
									<a href="{{ entry.url }}" target="_blank" class="go">{{ entry.uri }}</a>
								{% else %}
									--
								{% endif %}
							{% else %}
								<a href="{{ entry.url }}" target="_blank" class="go">{{ "View"|t }}</a>
							{% endif %}
						</td>
						{% if elementType != "Asset" %}
						<td scope="row">
							{{ entry.postDate.format("d/m/Y") }}
						</td>
						{% endif %}
					</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td colspan="4">
							{{ "No entries found"|t }}
						</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
{% if elementType != "Asset" %}</div>{% endif %}